/* stylelint-disable-next-line selector-class-pattern */
.singleStat {
  display: flex;
  height: 424px;
  margin: 10px;
  width: 269px;
}

/* stylelint-disable-next-line selector-class-pattern */
.singleStat div {
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
}

/* stylelint-disable-next-line selector-class-pattern */
.singleStat h2 {
  color: #1e1457;
  font-size: 26px;
  font-weight: 600;
  margin: 20px;
  text-align: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.singleStat p {
  color: #1e1457;
  font-size: 14px;
}

/* stylelint-disable-next-line selector-class-pattern */
.singleStatpp {
  display: flex;
  justify-content: space-between;
}
