.inputbutton {
  display: flex;
  font-size: 14px;
  height: 70px;
  position: relative;
  width: 450px;
}

.copybutton {
  border: #1e1457;
}

.inputbutton input {
  border: 2px solid #dcddf9;
  border-radius: 3px;
  display: block;
  height: 42px;
  margin-top: 25px;
  padding: 5px;
  width: 360px;
}

.inputbutton button {
  background: #1e1457;
  border: 0 px;
  border-radius: 4px;
  color: white;
  height: 42px;
  margin-left: 10px;
  margin-top: 25px;
  width: 150px;
}

.inputbutton label {
  font-weight: 600;
  padding-left: 5px;
  position: absolute;
}

.inputbutton button:hover {
  background: #3c64b1;
}

.inputbutton button:disabled {
  background: #3c64b1;
}

.inputbutton input:placeholder-shown {
  padding: 5px;
}

.copy-icon {
  color: #1e1457;

  /* margin: auto; */
  width: 20px;
}
